<h1>📋 Kanban Board</h1>
<main>
    <div id="kb_board" class="kanban-board" phx-hook="KanbanBoard">
        {% for task_list in task_lists %}
        <div id="{{ task_list.title }}" class="kanban-list {{ task_list.title }}">
            <h3>
                <span class="status-container">
                    <span class="status-circle" style="background-color: {{task_list.color}};"></span>
                    {{ task_list.title }}
                    <span
                        class="item-count{%if task_list.wip_exceeded %} error{%endif%}">{{ task_list.tasks|len }}{%if task_list.wip_limit %}
                        /
                        {{ task_list.wip_limit }}{%endif%}</span>
                </span>
                <button phx-click="add_task" phx-value-task_list="{{task_list.title}}" class="add-button">+</button>
            </h3>
            <div class=" kanban-cards">
                {% for task in task_list.tasks %}
                <div class=" kanban-card" data-id="{{ task.id }}">
                    <div class="card-header">
                        <span>{{ task.category }}</span>
                        <span class="priority {{ task.priority }}">
                            {{ task.priority | priority_icon}}
                        </span>
                    </div>
                    <div class="card-title">{{ task.title }}</div>
                    <div class="card-description">{{ task.description | truncatewords(15) }}</div>
                    <div class="card-footer">
                        <img src="{{ task.avatar }}" alt="Avatar">
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
</main>