[tool.poetry]
name = "pyview-web"

packages = [
  { include = "pyview" },
]

version = "0.0.24"
description = "LiveView in Python"
authors = ["Larry Ogrodnek <ogrodnek@gmail.com>"]
license = "MIT"
readme = "readme.md"
homepage = "https://pyview.rocks"
repository = "https://github.com/ogrodnek/pyview"
keywords = ["web", "api", "LiveView"]

classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
    "Topic :: Internet",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development",
    "Typing :: Typed",
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: AsyncIO",
    "Framework :: FastAPI",
    "Framework :: Pydantic",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Internet :: WWW/HTTP",
]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
starlette = "0.37.2"
uvicorn = "0.20.0"
wsproto = "1.2.0"
APScheduler = "3.9.1.post1"
psutil = "^5.9.4"
markupsafe = "^2.1.2"
itsdangerous = "^2.1.2"
pydantic = "^2.7.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.0"
black = "24.3.0"
pyright = "1.1.292"
aiohttp = "^3.8.4"

[tool.poetry.group.profiling.dependencies]
scalene = "^1.5.19"
memray = "^1.6.0"


[tool.poetry.group.docs.dependencies]
mkdocs-material = "^9.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
exclude = [
    ".venv",
    "examples/.venv",
    "**/vendor",
    "**/node_modules",
    "**/__pycache__",
]
