.recipe_card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    background-color: white;
}

.recipe_card img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
    height: 200px;
    object-fit: cover
}

.recipe_card-content {
    padding-inline: 0.75em;
    padding-bottom: 0.75em;

}

.recipe_card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.recipe_card-content .recipe_card-title {
    font-family: var(--recipe-title-font);
    font-weight: 400;
    font-style: normal;

    font-size: 1.6em;

    color: #333;
}

.recipe_card-content .recipe_card-time {
    font-size: 0.8em;
    color: #666;
    font-weight: 100;
}

.recipe_card-time::before {
    content: "⏱️";
    margin-right: 5px;
    font-size: 0.9em;
    color: #666;
}

.recipe_card-content p {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
}

.recipe_card-actions {
    padding-top: 0.25em;
    display: flex;
    justify-content: space-between;
}

.recipe_card-bookmark {
    filter: opacity(0.4);
}

.recipe_card-bookmark:hover {
    filter: opacity(1);
}

.recipe_card-attribution {
    font-size: 0.7em;
    color: #666;
    display: grid;
    justify-items: flex-end;
    padding: 0.5em;

    a {
        text-decoration: none;
    }
}

.bookmarked {
    filter: opacity(1);
}