body {
    max-width: max-content;
    padding-left: 24px;
}

.map_wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 12px;
    padding: 12px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 4px;
}

.sidebar ul li a {
    display: inline-block;
    padding: 4px;
    color: inherit;
}

.sidebar ul li a .icon {
    transition: transform 0.3s ease;
    display: inline-block;
    padding-right: 4px;
}

.sidebar ul li a:hover .name {
    text-decoration: underline;
    text-decoration-color: green;
}

.sidebar ul li a:hover .icon {
    transform: scale(1.5);
}

#map {
    height: 640px;
    width: 800px;
}