<h1>🌲 National Park Planner</h1>

<div class="map_wrapper">
    <div class="sidebar">
        <ul>
            {% for park in parks %}
            <li>
                <a href="#" phx-click="select-park" phx-value-name="{{ park.name }}"
                    style="{% if selected_park_name == park.name %}color: green;{% endif %}"><span
                        class="icon">{{park.icon}}</span>
                    <span class="name">{{ park.name }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <div id="map_wrapper" phx-update="ignore">
            <div id="map" phx-hook="ParksMap" data-parks="{{parks|json_encode}}">

            </div>
        </div>
    </div>
</div>