<div style="padding: 8px">
    <div style="padding-top: 12px; font-style: italic; font-size: smaller;">
        <a href="/presence" target="_blank">Open this example in multiple windows</a> to see the connected list
        update as users join and leave.
    </div>
    {% if message %}
    <div class="flash-message {{message.action}}">{{message.user.name}} {{message.action}}</div>
    {% endif %}
    <h1>Hello <span style="color: {{current_user.color}};">{{current_user.name}}</span>!</h1>
    <h2>{{connected|len}} Connected User{%if connected|len > 1 %}s{%endif%}</h2>
    <ul class="user-list">
        {% for user in connected %}
        <li class="user-item">
            <span class="color-circle" style="background-color: {{ user.color }};
                         {% if current_user == user %}animation: pulse 2.5s infinite ease-in-out;{% endif %}">
            </span>
            <span>{{ user.name }}</span>
        </li>
        {% endfor %}
    </ul>
</div>