<script>
    window.addEventListener("copy-to-clipboard", function (event) {
        if ("clipboard" in navigator) {
            const text = event.target.textContent;
            navigator.clipboard.writeText(text);
        }
    });
</script>

<div>
    <h1>JS Commands</h1>
    <p>PyView JS commands support is a work in progress.</p>
    <p>
        See the <a href="https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.JS.html">Phoenix LiveView JS docs</a>
        for an idea of what's coming.
    </p>
    <h3>Show/Hide</h3>
    <button phx-click='{{ js.show("#bq") }}'>Show</button>
    <button phx-click='{{ js.hide("#bq") }}'>Hide</button>
    <blockquote id="bq" class="hint">
        <p>JS Commands let you update the DOM without making a trip to the server.</p>
    </blockquote>
    <hr />
    <h3>Toggle</h3>
    <button phx-click='{{ js.toggle("#bq2") }}'>Toggle</button>
    <blockquote id="bq2" class="hint">
        <p>JS Commands let you update the DOM without making a trip to the server.</p>
    </blockquote>
    <h3>Add/Remove Class</h3>
    <button phx-click='{{ js.add_class("#bq3", "hint") }}'>Add "hint"</button>
    <button phx-click='{{ js.add_class("#bq3", "warn") }}'>Add "warn"</button>
    <button phx-click='{{ js.remove_class("#bq3", "warn", "hint") }}'>Remove all</button>

    <blockquote id="bq3">
        <p>JS Commands let you update the DOM without making a trip to the server.</p>
    </blockquote>

    <h3>Dispatch</h3>
    <p>
        Dispatch lets you send custom javascript events on the client, which you can listen to
        using <code>window.addEventListener</code>.
    </p>
    <p>
        This example sends a "copy-to-clipboard" event when the button is clicked.
    </p>
    <p>
        It also demonstrates how to chain multiple JS commands together - this example adds a class to the button
        when the copy-to-clipboard event is dispatched.
    </p>
    <pre id="copy-text">{{ js.dispatch("copy-to-clipboard", "#copy-text") }}</pre>

    <button id="copy-button"
        phx-click='{{ js.dispatch("copy-to-clipboard", "#copy-text") | js.add_class("#copy-button", "copied") }}'>Copy
        to clipboard</button>

    <h3>Push</h3>
    <p>
        Push lets you push a new event to your view, similar to <code>phx-click</code>.
    </p>
    <p>
        This example increments a counter when the button is clicked.
    </p>
    <p>
        This can be useful if you want to chain the push event with other JS commands, like a transition. This example
        uses the <code>js.transition</code> command to add a bounce animation to the counter when it is incremented.
    </p>
    <p id="counter">
        <b>Counter</b> | <span>{{value}}</span>
    </p>
    <button phx-click='{{ js.push("increment") | js.transition("#counter", "bounce")}}'>Increment</button>

    <h3>
        Focus
    </h3>
    <p>
        Focus lets you focus an element on the page.
    </p>
    <p>
        The first button uses <code>js.focus("#email")</code> to focus the email input.
    </p>
    <p>
        The second button uses <code>js.focus_first("#focus-form")</code> to focus the first input in the form.
    </p>

    <button phx-click='{{ js.focus("#email") }}'>Focus</button>
    <button phx-click='{{ js.focus_first("#focus-form") }}'>Focus first</button>
    <form id="focus-form" autocomplete="off">
        <label for="name">Name</label>
        <input type="text" id="name" />
        <label for="email">Email</label>
        <input type="text" id="email" />
    </form>

</div>